.arrows {
    position: absolute;
    top: calc(50% - 45px);
    font-size: 32px;
    color: white;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

:host-context(.slide:hover) .arrows {
    opacity: 0.6;
}

:host-context(.slide:hover) .arrows:hover {
    opacity: 0.9;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}
